.featured-product-text {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  background-color: var(--white);
  transition: all 0.1s ease;
}

.card:hover .featured-product-text {
  color: var(--primary-color);
  transition: all 0.1s ease;
}

.catgory-card {
  max-width: 16rem;
  min-width: 16rem;
  min-height: 16rem;
  position: relative;
  cursor: pointer;
}
