.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .header {
    box-shadow: none;
    border: 1px solid var(--secondary-color);
  }

  .nav-menu {
    gap: 1rem;
  }

  .nav-menu:last-child {
    margin-right: 0.5rem;
  }

  .nav-search-bar {
    position: absolute;
    top: 3.5rem;
    left: 0;
    border-radius: 0;
    border: 1px solid var(--secondary-color);
    width: 100%;
  }
}
