.coupon-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

.coupon-modal {
  position: relative;
  max-width: 36rem;
  list-style: none;
}

.disabled-coupon-card {
  color: var(--gray);
}
